<div class="row">
  <div class="col-md-7 ">
    <img [src]="product_image" alt="" class="card-img-top img-custom">
  </div>
  <div class="col-md-5">
    <div class="card-body  text-start">
      <p class=" txt-nombre"><strong>{{name}}</strong></p>
      <h4 class=""><strong>Talla {{size}}</strong> </h4>
      <h4 class=""> <strong> {{brand}}</strong> </h4>
      <p class=" txt-observaciones"> {{comments}} </p>
      <p class=""> <strong> Fecha de embarque: {{boarding_date}}</strong> </p>
      <br>
      <button class="btn btn-primary btn-block btn-custom" routerLink="/dashboard/productos">Volver</button>
    </div>
  </div>


</div>
